.u-section-1 .u-sheet-1 {
  min-height: 1391px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 85px 0 0;
}

.u-section-1 .u-image-1 {
  width: 181px;
  height: 71px;
  margin: 32px auto 37px;
}