 .u-section-1 {
  background-image: none;
  min-height: 537px;
}

.u-section-1 .u-image-1 {
  height: 524px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 213px;
  height: 120px;
  margin: -498px auto 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  line-height: 1.35;
  font-weight: 700;
  margin: 15px calc(((100% - 1140px) / 2) + 386px) 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.35;
  margin: 15px calc(((100% - 1140px) / 2) + 546px) 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.75rem;
  animation-timing-function: ease;
  margin: 32px auto 0 calc(((100% - 1140px) / 2) + 74px);
  padding: 6px 22px 6px 20px;
}

.u-section-1 .u-image-3 {
  width: 566px;
  height: 429px;
  margin: -405px calc(((100% - 1140px) / 2) + -101px) 16px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 452px;
  }

  .u-section-1 .u-image-1 {
    height: 423px;
    margin-top: 18px;
  }

  .u-section-1 .u-image-2 {
    width: 166px;
    height: 87px;
    margin-top: -387px;
    margin-left: calc(((100% - 940px) / 2) + -24px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: auto;
    margin-top: 3px;
    margin-right: calc(((100% - 940px) / 2) + 356px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 7px;
    margin-right: calc(((100% - 940px) / 2) + 397px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 18px;
    margin-left: calc(((100% - 940px) / 2));
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-image-3 {
    width: 408px;
    height: 348px;
    margin-top: -368px;
    margin-right: calc(((100% - 940px) / 2) + -40px);
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 429px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -131px;
  }

  .u-section-1 .u-image-2 {
    width: 172px;
    height: 89px;
    margin-top: 31px;
    margin-left: calc(((100% - 720px) / 2) + -18px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-right: calc(((100% - 720px) / 2) + 212px);
    margin-left: calc(((100% - 720px) / 2) + 7px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.625rem;
    margin-top: 9px;
    margin-right: calc(((100% - 720px) / 2) + 222px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 720px) / 2));
    padding: 5px 8px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -378px;
    margin-right: calc(((100% - 720px) / 2) + -37px);
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-top: -579px;
    margin-left: calc(((100% - 1140px) / 2) + 344px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 466px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 339px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + -37px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 451px;
  }

  .u-section-1 .u-image-1 {
    height: 195px;
  }

  .u-section-1 .u-image-2 {
    width: 128px;
    height: 86px;
    margin-top: 11px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.625rem;
    width: 340px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 32px;
    margin-left: calc(((100% - 340px) / 2));
    padding: 6px 11px 6px 10px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 290px;
    margin-top: -568px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  line-height: 1.35;
  font-weight: 700;
  width: 308px;
  margin: 38px auto 0;
}

.u-section-2 .u-line-1 {
  width: 320px;
  transform-origin: left center 0px;
  border-style: solid;
  margin: 23px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.35;
  margin: 47px 497px 0 73px;
}

.u-section-2 .u-text-3 {
  font-size: 1.625rem;
  line-height: 1.35;
  margin: 23px 497px 0 73px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.75rem;
  animation-timing-function: ease;
  margin: 23px auto 0 73px;
  padding: 6px 42px;
}

.u-section-2 .u-image-1 {
  width: 356px;
  height: 409px;
  margin: -336px 38px 43px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -332px;
    margin-right: 0;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 15px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 172px;
    margin-top: 12px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 305px;
    margin-left: auto;
    padding-right: 61px;
    padding-left: 59px;
  }

  .u-section-2 .u-image-1 {
    height: 271px;
    width: 256px;
    margin-top: -343px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}