.u-section-1 .u-sheet-1 {
  min-height: 935px;
}

.u-section-1 .u-image-1 {
  width: 127px;
  height: 85px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.25;
  width: 706px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-style: italic;
  width: 532px;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  margin: 32px -29px 60px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}