h1 {
    font-size: 19px;
}

@media (min-width: 481px) {
    h1 {
    }
}

@media (min-width: 769px) {
    h1 {
    }
}

@media (min-width: 1025px) {
    h1 {
        margin-left: 10rem;
        margin-right: 10rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 30px;
    }
}

@media (min-width: 1281px) {
    h1 {
        font-size: 35px;
        margin-left: 15rem;
        margin-right: 15rem;
        padding-left: 12rem;
        padding-right: 12rem;
        margin-top: 4rem;
        color: #00000f;
    }
}

h2 {
    font-size: 17px;
}

@media (min-width: 481px) {
    h2 {
    }
}

@media (min-width: 769px) {
    h2 {
    }
}

@media (min-width: 1025px) {
    h2 {
    }
}

@media (min-width: 1281px) {
    h2 {
        font-size: 28px;
        padding-left: 15rem;
        padding-right: 15rem;
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

#vidalytics_embed_M9nTGAINO7EOjl4X {
}

@media (min-width: 1281px) {
    #vidalytics_embed_M9nTGAINO7EOjl4X {
    }
}

.trial-warning {
    display: none;
}