h1 {
    font-size: 20px;
}

@media (min-width: 481px) {
    h1 {
        font-size: 28px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 769px) {
    h1 {
        font-size: 32px;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1025px) {
    h1 {
        padding-left: 5rem;
        padding-right: 5em;
        font-size: 35px;
    }
}

@media (min-width: 1281px) {
    h1 {
        font-size: 35px;
        padding-left: 26rem;
        padding-right: 26rem;
    }
}

h2 {
    font-size: 14px;
}

@media (min-width: 481px) {
    h2 {
        font-size: 25px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 769px) {
    h2 {
        font-size: 28px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1025px) {
    h2 {
        padding-left: 6rem;
        padding-right: 6rem;
        font-size: 28px;
    }
}

@media (min-width: 1281px) {
    h2 {
        font-size: 28px;
        padding-left: 22rem;
        padding-right: 22rem;
    }
}